/* Header*/

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header--logo {
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
}

.header--logo img {
    width: 3rem;
    margin-right: 5px;
}

.header--logo h2 span {
    color: var(--color-primary);
}

.header--nav__link {
    display: flex;
    justify-content: space-between;
}

.header--nav__link--item+.header--nav__link--item {
    margin-left: 1.5rem;
}

.header--nav__link--item {
    color: var(--color-text-primary);
    font-size: 2rem;
    transition: var(--animated-fast);
    padding: 2rem 3rem;
}

.header--nav__link--item:hover {
    color: var(--color-secondary);
    cursor: pointer;
}


/*main*/


/* Hero section */

.hero--content {
    display: flex;
}

.hero--content__info {
    flex: 0 0 50%;
    max-width: 50%;
}

.hero--content__info h1 {
    font-weight: 600;
}

.hero--content__img {
    flex: 0 0 50%;
    max-width: 50%;
}

.hero--content__button a .btn--primary {
    box-shadow: 0 2px 20px var(--color-primary);
    margin-right: 1rem;
}

.hero--content__img {
    width: 40%;
    padding-top: 40%;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}


/* Service */

.service--section__list {
    display: flex;
}

.service--list__item {
    background-color: #fff;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 3rem;
    cursor: pointer;
    transition: all var(--animated-fast);
}

.service--list {
    flex: 0 0 25%;
    max-width: 25%;
    border-radius: 2rem;
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
    border-radius: 2rem;
    overflow: hidden;
}

.service--list+.service--list {
    margin-left: 2rem;
}

.service--list__item--img {
    width: 30%;
    padding-top: 30%;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    box-sizing: border-box;
    background-color: rgba(0, 0, 255, 0.4);
    border-radius: 50%;
    transition: all var(--animated-slow);
}

.service--list__item h3 {
    margin-top: 2rem;
}

.service--list__item:hover .service--list__item--img {
    transform: translateY(-1rem);
}